.git
.ty_cache
.pytest_cache
.venv
.ruff_cache
__pycache__
.gitignore
firecrawl_selfhost_servers_config.json
jira_servers_config.json
servers_config.json
instructions.md
.envrc
.pre-commit-config.yaml
